<div class="container-fluid px-0 mb-5">
  <div class="static-header">
    <img
      class="w-100"
      src="assets/img/carousel-1.jpg"
      alt="Static Header Image"
      width="1920"
      height="1080"
    />
    <div class="header-caption">
      <div class="container">
        <div class="row justify-content-start">
          <div class="col-lg-7 text-start">
            <p class="fs-4 text-white animated slideInRight">
              Welcome to <strong>Subhan Studios</strong>
            </p>
            <h1 class="display-1 text-white mb-4 animated slideInRight">
              Unlock Your Business Growth
            </h1>
            <!-- <a
              href="#"
              class="btn btn-primary rounded-pill py-3 px-5 animated slideInRight"
              >Explore More</a
            > -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
