/*** About ***/

.video-background-container {
    position: relative;
    height: 110vh; /* Changed to 100vh for better scaling across devices */
    overflow: hidden;
    margin: 10px;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
    background-color: #000; /* Fallback color in case video doesn't load */

    aspect-ratio: 4/3;
  }
  
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3); /* Adds a semi-transparent overlay for better text visibility */
  }

  @media screen and (max-width: 576px) {
    .video-background-container {
        display: none;
    }
}

