<!-- Carousel Start -->
<app-carousel></app-carousel>
<!-- Carousel End -->

<!-- Features Start -->
<app-features></app-features>
<!-- Features End -->

<!-- About Start -->
<app-about></app-about>
<!-- About End -->

<!-- Service Start -->
<app-services></app-services>
<!-- Service End -->

<!-- Project Start -->
<app-projects></app-projects>
<!-- Project End -->

<!-- Quote Start -->
<app-quotes></app-quotes>
<!-- Quote Start -->

<!-- Team Start -->
<app-about-team></app-about-team>
<!-- Team End -->

<!-- Testimonial Start -->
<app-testimonial></app-testimonial>
<!-- Testimonial End -->

<!-- Footer Start -->
<app-footer></app-footer>
<!-- Footer End -->

<!-- Copyright Start -->
<app-copyright></app-copyright>
<!-- Copyright End -->

<!-- Back to Top -->
<a
  href="#"
  class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"
  ><i class="bi bi-arrow-up"></i
></a>
