<div class="container-fluid bg-white sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">
            <a href="index.html" class="navbar-brand d-lg-none">
                <h1 class="fw-bold m-0">Subhan Studios</h1>
            </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="" class="nav-item nav-link active">Home</a>
                    <a href="about-us" class="nav-item nav-link">About</a>
                    <a href="services" class="nav-item nav-link">Services</a>
                    <a href="projects" class="nav-item nav-link">Projects</a>
                    <a href="contact-us" class="nav-item nav-link">Contact</a>
                </div>
                <div class="ms-auto d-none d-lg-block">
                    <button class="btn btn-primary rounded-pill py-2 px-3" (click)="scrollToQuote()">Get A Quote</button>
                </div>
            </div>
        </nav>
    </div>
  </div>